/* =============================================================================
   COLORS (settings/_colors.scss)
   ========================================================================== */

$colors: (
	primary: #f00,
	secondary: #0f0,
	black: #000,
	white: #fff,
) !default;

/**
 * Colors used for base things such as base text color and links color.
 */

$color-base: color( black ) !default;
$color-links: color( primary ) !default;
