/* =============================================================================
   BUTTONS (components/_buttons.scss)
   ========================================================================== */

.c-button {
	display: inline-block;
	color: currentcolor;
	text-align: center;
	cursor: pointer;
	padding: $buttons-padding-y $buttons-padding-x;
}



/* Variants
   ========================================================================== */

/**
 * Full width variation.
 */

.c-button--full {
	display: block;
	width: 100%;
}

/**
 * Styles that apply on `disabled` buttons.
 */

.c-button[ disabled ],
.c-button--disabled {
	cursor: not-allowed;
}
