/* =============================================================================
   OFFCANVAS (components/_offcanvas.scss)
   ========================================================================== */

.c-offcanvas {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $offcanvas-background-color;
	z-index: $offcanvas-z-index;
	padding-top: $offcanvas-offset-top;
	opacity: 0;
	visibility: hidden;
	transform: translateY( -1rem );
	transition: opacity $transition-duration-base, visibility $transition-duration-base, transform .3s;

	&.is-active {
		opacity: 1;
		visibility: visible;
		transform: translateY( 0 );
	}
}
